# .NET
bin/
obj/
*.user
*.suo

# Visual Studio
.vs/
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
*.snupkg
packages/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx

# Azure DevOps
*.logs
